.header-content {
  max-width: 100%;
  padding: 0px 15px;
  /* background-color: #020202 !important;
  color: #ffffff !important; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
