/* PRODUCTS PAGE */

.products-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.3%;
  flex-flow: wrap;
}

/* PRODUCTS CARD COMPONENT */

.product-card {
  width: 24%;
  background-color: #ffffff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.product-card-image {
  max-width: 100%;
  height: 160px;
  background-color: aquamarine;
}

.product-card-content {
  max-width: 100%;
  text-align: center;
  padding: 10px;
}
